<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reader</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          min-width: 350px;
          padding-top: 56px;
        }
      }

      .raw_data {
        white-space: pre;
        font-family: monospace;
        max-height: 300px;
        overflow: auto;
        cursor: pointer;
      }

      .gauge {
        width: 300px;
        height: 300px;

        background-color: #b8b8b8;
        padding-top: 100px;
        margin: 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;

        margin-bottom: 30px;
      }

      .gauge h2 {
        font-size: 270%;
      }

      .gauge h3 {
        font-size: 250%;
      }


    </style>

  </head>

  <body>

    <!-- Page Content -->
    <div class="container">
      <h1>{{ name }}</h1>
      <div class="row">
        {% for gauge_id in gauges %}
          <div class="col-sm-12  text-center {% if gauges|length == 1 %}col-md-12{% else %}col-md-6{% endif %}" data-gauge-id="{{ gauge_id }}">
            <div class="gauge">
              <h2><span class="value">0</span> <span class="unit">{{ gauges[gauge_id].unit }}</span></h2>

              <h3>{{ gauges[gauge_id].name }}</h3>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col-lg-12">
          <hr>
          <div class="raw_data" title="Stáhnout"></div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for("static", filename="vendor/jquery/jquery.min.js" ) }}"></script>
    <script src="{{ url_for("static", filename="vendor/bootstrap/js/bootstrap.bundle.min.js" ) }}"></script>

    <script type="text/javascript">
      $(document).ready(function () {
         var raw_data = $(".raw_data");
         var offset = 0;

         raw_data.on("click", function () {
             window.location = "/raw";
         });

         $.ajax("/raw", {
             data: {
               "tail": 10
             }
         }).done(function (data) {
             offset = data.total_length;
             raw_data.prepend(data.lines);
         }).always(function () {
             setTimeout(load_more, 5000);
         });

         var load_more = function () {
             $.ajax("/raw", {
                 data: {
                   "offset": offset
                 }
             }).done(function (data) {
                 offset += data.length;
                 raw_data.prepend(data.lines);
             }).always(function () {
                 setTimeout(load_more, 5000);
             });
         };

         var reload_gauges = function () {
             $.ajax("/gauges").done(function (data) {
                 Object.keys(data).forEach(function(gauge_id) {
                      var gauge = $(".container").find("[data-gauge-id='" +  gauge_id + "']");
                      gauge.find(".value").text(data[gauge_id].value);
                 })
             }).always(function () {
                 setTimeout(reload_gauges, 5000);
             });
         };

         reload_gauges();
      });
    </script>

  </body>

</html>